.App {
  background: linear-gradient(to left, #09203f 100%, #537895 30%, #537848 30%);
  justify-content: center;
}

.container-box {
  width: 80%;
  background-color: transparent;
  position: relative;
  z-index: 9;
  justify-content: center;
}

.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
